{% extends request.is_ajax|yesno:"radio/base_ajax.html,radio/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% comment %}
    Receives the following special variables:
        played: The last 10 `Played` entries, limit it yourself for smaller amounts
        queue: The 10 top `Queue`d entries for the active DJ, limit same as lastplayed
        current: A `Songs` object of the currently playing song. Can be None if stream is down.
        current_dj: A `Djs` object of the currently live DJ. This will be a stripped down dict
                    with only the "name" and "image.url" attributes set if no DJ is found.
        news: The 3 latest `News` objects.
{% endcomment %}

{% block content %}
    {% block playing %}
    <div id="playing" class="row-fluid well">
        <div class="span2 hidden-phone">
            <img src="{% static "img/logo/small.png" %}" alt="R/a/dio Logo">
        </div>
        <div class="span8">
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div id="playing-song" class="span12">
                            <h2 class="text-center">{% if current %}{{ current.metadata }}{% else %}Stream is offline.{% endif %}</h2>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div id="playing-progress" class="span12">
                            <div class="progress">
                                <div class="bar" style="width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                    <div id="playing-info" class="row-fluid">
                        <div class="span4 text-center" id="playing-listeners">Listeners: 0</div>
                        <div class="span8 text-center" id="playing-position">00:00/00:00</div>
                    </div>
               </div>
            </div>
        </div>
        <div id="dj-image" class="span2 hidden-phone">
            <a href="{{ current_dj.get_absolute_url }}">
                {% thumbnail current_dj.image "150x150" format="PNG" as im %}
                    <img class="img-polaroid" src="{{ im.url }}" alt="DJ Image" width="{{ im.x }}" height="{{ im.y }}">
                {% endthumbnail %}
                <div id="dj-name" class="text-center">{{ current_dj.name }}</div>
            </a>
        </div>
    </div>
    {% endblock playing %}

    {% block play-buttons %}
        <div id="stream-links" class="row-fluid well">
            <div class="span3">
                <a class="btn" href="#">Play in Browser</a>
            </div>
            <div class="span3">
                <a class="btn" href="{% static "playlists/main.mp3.m3u" %}">Playlist File (.m3u)</a>
            </div>
            <div class="span3">
                <a class="btn" href="{% static "playlists/listen.pls" %}">Playlist File (.pls)</a>
            </div>
            <div class="span3">
                <a class="btn" href="{{ stream_url }}">Direct Stream Link</a>
            </div>
        </div>
    {% endblock play-buttons %}

    <div id="content-bottom" class="row-fluid">
    {% block playlist %}
        <div id="content-bottom-left playlist" class="span6 well">
            {% if played and queue %}
                {% include "radio/playlist.html" with iterator=queue prefix="queue" limit=":5" title="Next up" %}
                {% include "radio/playlist.html" with iterator=played prefix="played" limit=":5" title="Played recently" %}
            {% elif played or queue %}
                {% include "radio/playlist.html" with iterator=queue prefix="queue" limit=":10" title="Next up" %}
                {% include "radio/playlist.html" with iterator=played prefix="played" limit=":10" title="Played recently" %}
            {% else %}
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="text-center">No playlist information available at the moment.</h3>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock playlist %}

        <div id="content-bottom-right" class="span6 well">
            {% block thread %}
                <div class="row-fluid">
                    <div class="span12">
                        <span id="current-thread">No thread fuck off</span>
                    </div>
                </div>
            {% endblock thread %}

            {% block news %}
                <div class="row-fluid">
                    <div id="news"  class="span12">
                        {% include "radio/news_front.html" with news=news %}
                    </div>
                </div>
            {% endblock news %}
        </div>
    </div>
</div>
{% endblock content %}

{% block extra-javascript %}
<script src="{% static "js/bigtext.js" %}"></script>
<script type="text/javascript">
    $("#playing-song").bigtext({
        childSelector: '> h2',
        maxfontsize: 48,
        minfontsize: 24
    });
    $("#dj-name").bigtext();
</script>
{% endblock extra-javascript %}
