{% load pagination_url %}

{% if not page_list %}
<ul class="pager">
    <li class="previous {% if not pages.previous %}disabled{% endif %}">
    <a class="page_link" rel="{{ querystring_key }}" href="{% if pages.previous %}{{ pages.previous.url }}{% else %}#{% endif %}">&larr; Previous</a>
    </li>
    <li class="next {% if not pages.next %}disabled{% endif %}">
        <a class="page_link" rel="{{ querystring_key }}" href="{% if pages.next %}{{ pages.next.url }}{% else %}#{% endif %}">Next &rarr;</a>
    </li>
</ul>
{% else %}
<div class="pagination pagination-centered">
    <ul>
        <li class="{% if not pages.previous %}disabled{% endif %}">
            <a class="page_link" rel="{{ querystring_key }}" href="{% if pages.previous %}{{ pages.previous.url }}{% else %}#{% endif %}">&laquo;</a>
        </li>
        {% for page in pages %}
            <li class="{% if page.is_current %}active{% endif %}">
                <a class="page_link" rel="{{ querystring_key }}" href="{{ page.url }}">{{ page.number }}</a>
            </li>
        {% endfor %}
        <li class="{% if not pages.next %}disabled{% endif %}">
            <a class="page_link" rel="{{ querystring_key }}" href="{% if pages.next %}{{ pages.next.url }}{% else %}#{% endif %}">&raquo;</a>
        </li>
    </ul>
</div>
{% endif %}
