{% extends request.is_ajax|yesno:"radio/base_ajax.html,radio/base.html" %}
{% load thumbnail %}

{% comment %}
    Receives the following context variables:
        user_objects: A queryset of visible user accounts
{% endcomment %}

{% block page_name %}staff_page{% endblock page_name %}

{% block content %}
    <div class="row-fluid">
    {% for user in user_objects %}
        <div class="staff-container span2 {% if forloop.counter0|divisibleby:5 %}offset1{% endif %}"
                            data-toggle="tooltip" title="{{ user.description }}">
            <a class="staff-image" href="{{ user.get_absolute_url }}">
                {% thumbnail user.image "150x150" crop="center" as im %}
                    <img class="img-polaroid"
                         src="{{ im.url }}"
                         width="{{ im.x }}"
                         height="{{ im.y }}">
                {% endthumbnail %}
                <div class="staff-name text-center"><h4>{{ user.name }}</h4></div>
            </a>
        </div>

        {% if forloop.counter|divisibleby:5 %}
            </div>
            <div class="row-fluid">
        {% endif %}
    {% endfor %}
    </div>
{% endblock content %}

