{% extends request.is_ajax|yesno:"radio/base_ajax.html,radio/base.html" %}

{% comment %} This template receives no special variables {% endcomment %}

{% block page_name %}irc_page{% endblock page_name %}

{% block content %}
    <div id="irc-info" class="row-fluid">
        <div id="irc-button" class="span2">
            <a class="btn btn-block btn-success" href="irc://irc.rizon.net/r/a/dio">IRC Link</a>
        </div>
        <div id="irc-warning" class="span10 alert alert-danger">
            <strong>Warning:</strong> Using a webchat is by nature unsafe and a danger to your privacy. We recommend you to download a proper IRC client of your choice.
        </div>
    </div>
    <div id="irc-frame" class="row-fluid">
        <div id="irc-mibbit" class="span12">
            <iframe width="100%" height="600" scrolling="no" src="http://widget.mibbit.com/?settings=d7c93e84e76aea7f8e946da405f026f0&server=rizon.mibbit.org&channel=%23r%2Fa%2Fdio"></iframe>
        </div>
    </div>
{% endblock content %}
